* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}


#cabecalho {
    width: 1835px;
    height: 90px;
    background-color: black;
    & .header-login {
        width: 1435px;  
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    & .logo-login {
        display: flex;
        align-items: center;
        gap: 10px;
        & img {
            width: 120px;
            height: 90px;
        }
        & h2 {
            color: white;
        }
    }
    & span {
        font-size: 14px;
        color: white;
        & .fa-solid.fa-lock {
            margin-right: 6px;
            font-size: 14px;
        }
    }
}


.main-login {
    width: 1835px;
    height: 841px;
    align-content: center;
    & .card-login {
        width: 500px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        padding: 10px;
        text-align: center;
        box-shadow: 2px 2px 2px 2px gray;
    }
    & .boas {
        text-align: center;
        & h1 {
            font-size: 18px;
        }
        & p {
            font-size: 16px;
        }
    }
    & .entrar {
        padding: 20px 0 20px 0;
        & h1 {
            font-size: 18px;
            text-align: left;
        }
        & input {
            width: 480px;
            height: 40px;
            padding-left: 5px;
        }
    }
    & #recuperar {
        font-size: 14px;
    }
    & button {
        width: 480px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: brown;
        & .fa-brands.fa-google {
            color: white;
        }
        & .acess {
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
    }
    & #help {
        font-size: 14px;
    }

}